* {
  margin: 0;
  padding: 0;
}
.start {
  margin-left: 20px;
}
.desc {
  margin-left: 20px;
}
.buton1 {
  margin-left: 20px;
}
.about1 {
  margin-top: 5px;

  padding: 5px;
}
.about2 {
  margin-top: 5px;
  padding: 5px;
  margin-left: 107px;
}
.about3 {
  margin-top: 5px;
  padding: 5px;
}
.about4 {
  margin-top: 5px;
  padding: 5px;
}
.about6 {
  margin-top: 5px;
  padding: 5px;
}
.about5 {
  margin-top: 5px;
  padding: 5px;
}
.about7 {
  margin-top: 5px;
  padding: 5px;
  margin-left: 110px;
}
